
body {
  line-height: 1; 
}
nav{
  display: flex;
  justify-content: space-around; 
  align-items: center;
  background-color: #f2f2f2;
  padding-bottom: 0.5cm;

}
img {
  height: 150px;
  width: 150px;
}
#navbarDropdown4 {
  margin-left: 2350px;

}
